<app-navbar></app-navbar>
<main class="grid grid-cols-3 gap-4">
    <div class="col-start-1 col-end-2 mt-56 ml-56 ">
        <app-left-bar></app-left-bar>
    </div>
    <div class="col-start-2 col-end-3 mx-auto ">
        <!-- create post -->
            <app-create-post></app-create-post>
            <!-- end create post  -->
                <app-post></app-post>
            </div>
                <!-- ---------------------------------- -->
            <!-- ---------------------------------- -->

   <app-right-bar></app-right-bar>
  </main>